{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="form-login">
        <form method="post" action=".">
          {% csrf_token %}
          {{ form.as_p }}

          <input type="submit" value="Log in" />
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>

    <p>Forgot password ?<a href="/accounts/auth_password_reset">Reset it</a>!</p>
    <p>Not member? <a href="/accounts/registration_register">Register</a>!</p>
{% endblock %}
